* {margin:0;padding:0;border:0;}
#main {width:1100px; height:600px; background:pink; margin:auto; margin-top:10px;}
/*#left {width:200px; height:500px;background:#F5DEB3; float:left;}*/
#right {width:1100px; height:600px; background:palegreen; float:left;}
#content {height:479px; padding-top:1px;}
#send {height:120px; background:skyblue;}
#control {position:relative; left:75px; top:18px;}
select,textarea {border:1px solid gray;}
#msg {width:730px;height:78px; margin-top:5px;margin:0 auto;}
#content-title{color:green;font-size:14px;width:245px;margin:10px auto;}
hr {border:1px solid gray; width:600px; margin:auto;}
#show_msg{width:1053px;margin-left:47px;margin-top:10px;font-size:14px;/*font-weight:bold;*/height:460px;overflow:auto;}
#left h2{color:#8B4513;font-size:14px;position:relative; left:36px;top:24px; width:150px; }
#left #user{ position:relative; top:46px;left:48px;   }
ul {font-size:12px;  list-style:none; width:110px; }
#anniu {margin-top:280px; margin-left:50px; }
#control input {margin-top:3px; width:38px;height:20px; background:greenyellow; color:rebeccapurple; border:0px solid white;}

/*后来自己加的*/

#head
{
    position:fixed;
    top:5px;
    left:5px;
}

#liaotianshishuoming
{
    position:fixed;
    bottom:5px;
    right:5px;
}