/*

CSS

*/

.class1
{
    width:285px;
    height:81px;
    /*border:2px solid #000;*/
    float:left;
    margin-left:40px;
    margin-top:30px;
}

.class2
{
    float:left;
}

.class3
{
    float:right;
    font-size:1em;
}

.class7
{
    float:left;
    margin-right:10px;
}

#myqb_mycfdian
{
    position:fixed;
    top:5px;
    right:5px;
}

#chakanjilu
{
    position:fixed;
    bottom:5px;
    left:5px;
}

#head
{
    position:fixed;
    top:5px;
    left:5px;
}

#shangchenggaoshi
{
    position:fixed;
    bottom:5px;
    right:5px;
}

h1
{
    color:#5B00AE;
    text-align:center;
    font-size:45px;
    width:600px;
    margin:50px auto;
    padding:10px 0px;
}